body {
  margin: 0;
  padding: 0;
}
h1 {
  background-color: aqua;
}
#active {
  color: red;
}
.saw {
  color: gray;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 2px inset gray;
  margin: 0px;
  padding: 10px;
}
ol {
  border-right: 1px solid gray;
  width: 100px;
  height: 100px;
  margin-top: 0px;
  padding: 20px;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
